@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
body {
  background-color: #181818;
}
p,
h1,
h2 {
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 100px;
}

.btn-primary {
  background-color: #5d5fef;
}
